api_key = YOUR-DREAMFACTORY-API-KEY-HERE
ip = DREAMFACTORY-IP-HERE
s3_key = OPENSTACK-S3-CREDENTIALS-KEY-HERE
s3_secret = OPENSTACK-S3-CREDENTIALS-SECRET-KEY-HERE
s3_region = OPENSTACK-REGION
s3_endpoint = ENDPOINTURL