<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" type="text/css" href="../css/uploadcve.css">
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <meta name="description" content="Administrative GUI for uploading new CVE-objects to the vulnerability database, PLED">
    <!-- keywords for search engines?
        <meta name="keywords" content="PLED database, Vulnerability database, administration">
    -->
    <meta name="author" content="Karoline M. Arnsen, Adrian J. Moen, Askil A. Olsen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLED - Add file to database</title>
</head>
<body>

<div class="container">
    <h3>Add file to database</h3>
    <br>
    <div type="text">Upload Type</div>
    <fieldset>
        <div class="select">
            <select id="uploadtypeselector" class="dropdown" name="{{ formtype }}" tabindex="1">
                <option value="applicationform">Application</option>
                <option value="miscform">Misc Files</option>
                <option value="dockerform">Docker image</option>
                <option value="ansibleform">Ansible Role</option>
            </select>
        </div>
    </fieldset>
    <div id="applicationform" class="show-form">
        {% include 'applicationform.html' %}
    </div>
    <div id="miscform" class="show-form">
        {% include 'miscform.html' %}
    </div>
    <div id="dockerform" class="show-form">
        {% include 'dockerform.html' %}
    </div>
    <div id="ansibleform" class="show-form">
        {% include 'ansibleroleform.html' %}
    </div>
</div>
<script src="../js/selectableform.js"></script>

<!--
<script>
    + function($) {
        'use strict';

        // UPLOAD CLASS DEFINITION
        // ======================

        var dropZone = document.getElementById('drop-zone');
        var uploadForm = document.getElementById('js-upload-form');

        var startUpload = function(files) {
            console.log(files)
        }

        uploadForm.addEventListener('submit', function(e) {
            var uploadFiles = document.getElementById('js-upload-files').files;
            e.preventDefault()

            startUpload(uploadFiles)
        })

        dropZone.ondrop = function(e) {
            e.preventDefault();
            this.className = 'upload-drop-zone';

            startUpload(e.dataTransfer.files)
        }

        dropZone.ondragover = function() {
            this.className = 'upload-drop-zone drop';
            return false;
        }

        dropZone.ondragleave = function() {
            this.className = 'upload-drop-zone';
            return false;
        }

    }(jQuery);
</script>-->

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
